* {
    box-sizing: border-box;
}

body {
    /* background: #fdfaf6; */
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #a49e9a;
    /* letter-spacing: 1px; */
    overflow-y: scroll;
}


/* Side Bar */
#sidebar {
    position: fixed;
    top: 0;
    left: 180px;
    height: 100%;
}

#sidebar > img {
    position: relative;
    float: left;
    left: 22%;
    height: 100%;
}

#sidebar-center {
    position: fixed;
    overflow: hidden;
    margin-top: 140px;
    left: 15px;
    padding: 10px;
}

#sidebar-center img {
    /* photo */
    width: 70%;
    height: 70%;
    margin-left: 2%;
    max-width: 140px;
    min-width: 140px;
}

#sidebar #my-name {
    position: relative;
    font-size: 20px;
    margin: 5px 5px;
    letter-spacing: 4px;
}

#sidebar #brief-intro {
    position: relative;
    font-size: 10px;
    font-weight: -100;
    top: -15px; left: auto;
    margin-top: 10px;
    letter-spacing: 2px;
    float: left;
    overflow: visible;
}

/* External Links */
#links {
    position: fixed;
    bottom: 5px;
    left: 55px;
}
#links .circle {
    width: 25px;
    height: 25px;
    background: #cc5e51;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    float: left;
    margin: 5px;
}
#links #circle-2 {
    background: #a49e9a;
}
#links #circle-3 {
    background: #c3bfbc;
}

.link {
    max-width: 100%;
    opacity: 0%;
} 

.link:hover {
    opacity: 100%;
} 

/* End of External Links */
/* End of Side Bar */

/* Main Content */

.main {
    position: relative;
    float:left;
    left: 260px;
    top: 40px;
    font-size: 100%;
    line-height: 1.5em;
    max-width: 78%;
    margin: auto;
    padding-right: 5px;
}

.title {
    font-size: 2.1em;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

.title:first-letter {
    color: #cc5e51;
}
  
/* The blogs gallary */

.row {
    margin: 8px -16px;
}

.row img {
    width: 100%
}

.row .image {
    height: 100%;
}

.image-div img {
    display: block;
    min-height: 100%;
}

.image-div img:nth-of-type(2) {
    display: none;
}

.image-div:hover img:nth-of-type(2) {
    display: block;
}

.image-div:hover img:nth-of-type(1) {
    display: none;
}

.row,
.row > .column {
    padding: 8px;
}

.column {
    float: left;
    width: 28%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.main {
    clear: both;
}

/* Content */

.content {
    padding-left: 10px;
}

.content h3 {
    margin: 0px auto 0px auto;
    
    line-height: 1em;
    font-size: 100%;
}

.content a, a.visited {
    text-decoration: none;
    color: #a49e9a;
}

.content a:hover {
    text-decoration: none;
    color: #cc5e51;
}

/* End Main Content */

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
    width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
    width: 100%;
    }

    #sidebar {
        visibility: hidden;
    }

    .main {
        display: block;
        float: none;
        left: auto;
        right: auto;
        top: 0px;
        margin: auto;
        width: 100%;
    }

}
